In [1]:
import mysql.connector

import datetime

import csv

import pandas as pd

from sqlalchemy import create_engine

import yfinance as yf

In [2]:
cnx=mysql.connector.connect(user='551project',password='551project',host='localhost',database='stockdata')

cursor=cnx.cursor()

In [7]:
#user pick the month they are interested in learning more 
month='2020-04%'

In [5]:
def distinctindustry(cursor):
    sqlcode=('Select Distinct Sector From CompanyInfo')
    cursor.execute(sqlcode)
    Industry = cursor.fetchall()
    return Industry

In [6]:
distinctindustry(cursor)

[('Industrials',),
 ('Health Care',),
 ('Information Technology',),
 ('Communication Services',),
 ('Consumer Discretionary',),
 ('Utilities',),
 ('Financials',),
 ('Materials',),
 ('Real Estate',),
 ('Consumer Staples',),
 ('Energy',)]

In [4]:
def checkmonthindustry(Industry,month,cursor):
    sqlcode=('Select * From CompanyInfo Where Sector="'+Industry+'"')
    cursor.execute(sqlcode)
    Industry = cursor.fetchall()
    allcomp=list()
    newdict=dict()
    for i in Industry:
        try:
            sql=('Select * From '+i[1]+' Where Date Like "'+month+'"')
            cursor.execute(sql)
            companymonth = cursor.fetchall()
            df = pd.DataFrame(companymonth)
            dffinal=df.rename(columns={0:'Date',1:'Open',2:'High',3:'Low',4:'Close',5:'Volume',6:'Dividends',7:'Stock Splits'})
            monthigh=max(dffinal['High'])
            monthlow=min(dffinal['Low'])
            volumelow=min((dffinal['Volume']))
            volumehigh=max((dffinal['Volume']))
            volumerange=str(volumelow)+'-'+str(volumehigh)
            totaldiv=sum(dffinal['Dividends'])
            symbols=i
            #names=['Symbols','MonthHigh','MonthLow','VolumeHigh','VolumeLow','VolumeRange','TotalDividends']
            svalues=[]
            svalues.extend([monthigh,monthlow,volumehigh,volumelow,volumerange,totaldiv])
            newdict[i[1]]=svalues
        except:
            continue
        
    df11 = pd.DataFrame(newdict).T
    df11=df11.rename(columns={'index':'Ticker',0:'MonthHigh',1:'MonthLow',2:'VolumeHigh',3:'VolumeLow',4:'VolumeRange',5:'TotalDividends'})
    return df11

In [8]:
#return stock information of the particular industry in the selected month  
checkmonthindustry('Communication Services',month,cursor)

,MonthHigh,MonthLow,VolumeHigh,VolumeLow,VolumeRange,TotalDividends
ATVI,68.32,56.69,14929000,5110200,5110200-14929000,0.41
GOOGL,1360.15,1075.08,5417900,1710100,1710100-5417900,0
GOOG,1359.99,1079.81,3793600,1566200,1566200-3793600,0
T,30.76,25.85,54646000,30583200,30583200-54646000,0.52
CTL,10.59,8.12,15558000,6501100,6501100-15558000,0
CHTR,515.63,413.39,2353600,713800,713800-2353600,0
CMCSA,38.69,31.7,33203500,15958700,15958700-33203500,0
DISCA,25.05,17.69,8243200,3079400,3079400-8243200,0
DISCK,22.75,16.1,5245400,1480800,1480800-5245400,0
DISH,25.73,18.07,5026700,2094800,2094800-5026700,0
EA,118.69,96.7,5496100,1753800,1753800-5496100,0
FB,209.69,150.83,46173300,16110700,16110700-46173300,0
FOXA,28.38,21.63,6059000,2454600,2454600-6059000,0
FOX,28.01,21.02,2515500,967100,967100-2515500,0
IPG,17.98,13,8455100,4603500,4603500-8455100,0
LYV,47.56,28.5,11750100,2811100,2811100-11750100,0
NFLX,449.52,357.51,23177600,4592500,4592500-23177600,0
NWSA,10.52,7.85,5625500,1538300,1538300-5625500,0
NWS,10.74,7.83,1328500,268600,268600-1328500,0
OMC,61.12,48.33,6059600,1593600,1593600-6059600,0
TMUS,93.3,81.04,22956100,3110700,3110700-22956100,0
TTWO,129.34,114.66,4626500,1138700,1138700-4626500,0
DIS,112.7,92.56,31485600,11492000,11492000-31485600,0
TWTR,31.5,22.36,68791300,13766200,13766200-68791300,0
VZ,57.64,50.49,21786000,12703200,12703200-21786000,0.615
VIAC,19.34,11.82,20200900,7836200,7836200-20200900,0